<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table><tr>
		<th>Title </th>
		<th>Comment</th>
	 <th colspan="3">CRUd</th></tr>
<tr>
 <% @articles.each do |article| %>
<td> <h3><%= article.title %></h3></td>
<td> <%= article.text %> </td>
 <td> <%= link_to 'show', article_path(article) %></td>
  	<td><%= link_to 'edit', edit_article_path(article) %></td>
  	<td><%= link_to  'Delete', article_path(article), method: :delete, data: {confirm: 'are your sure to delete the comment ?'} %></td>
 </tr>
 <% end %>

 </table>
 <%= link_to 'Add commint', new_article_path %>
</body>
</html>