<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<%= @new %>

<%= form_for :article , url: articles_path do |f| %>
 <% if @article.errors.any? %>
 <h3><%= pluralize(@article.errors.count,"error") %> prohibited this article from saving 
 </h3>
 <ul>
 <% @article.errors.full_messages.each do |msg | %>
 <li><%= msg %></li>
 <% end %>
</ul>
 <% end %>
<p>  <%= f.label :title%></p>
	<p>
		<%= f.text_field :title %>
</p>
<p>
	<%= f.label :comment %>
	<br>
	<%= f.text_area :text %>
</p>
<p>
	<%= f.submit "post" %></p>
	<% end %>
	<%= link_to 'All comments ', articles_path %>
</body>
</html>