<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
<h3>
	category :<%=@article.title %></h3>
<p> question :</br>
	<%= @article.text %></br></p>
	 <h4><i>Answers </i></h4>
	 <%= render @article.answers %> 
    <h3>Answer Question</h3>
    <%= render 'answers/form' %>
	<%= link_to 'edit', edit_article_path(@article) %>
	<%= link_to 'back', articles_path %>
</p>


</body>
</html>