 <%= form_with(model: [@article, @article.answers.build],local: true) do |form| %>


    <p> <%= form.label :email%> </br>
     <%= form.text_field :commenter %> 


 </p>
 <p>
   <%= form.label :Answer %></br>
   <%= form.text_area :body %> 
</p> 
<%= form.submit 'Answer' %>
<%end %>